

<!DOCTYPE html>
    <html lang="en">
    <head>

        <meta charset="UTF-8" />
        <link rel="icon" href="data:;base64,=">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" crossorigin="anonymous">

        <link href="/__assets/lightbox/css/lightbox.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="/__assets/bstreeview/bstreeview.min.css" rel="stylesheet" crossorigin="anonymous">


        <script>
        
        {{#if config}}
        let config = {
            files_count_max:      {{config.files_count_max}},
            fieldSize_max:        {{config.fieldSize_max}},
            fieldSize_max_human: '{{config.fieldSize_max_human}}',
        };
        {{/if}}
        
        {{#if folderTree_js}}
            let folderTree =   {{{folderTree_js}}}  ;
        {{/if}}


        </script>

        <link href="/__assets/index.css" rel="stylesheet" crossorigin="anonymous">



    </head>
    <body>


    {{{body}}}






    <script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src="/__assets/lightbox/js/lightbox.min.js" crossorigin="anonymous"></script>
    <script src="/__assets/bstreeview/bstreeview.js" crossorigin="anonymous"></script>
    
    

    <script src="/__assets/index.js" crossorigin="anonymous"></script>


</body>
</html>
