

<div class="container">

    <div class="row " style="padding:50px 0;">
        
        <div class="col text-truncate">
            <h2>
                <i class="bi bi-search"></i>
                Search result
            </h2>
        </div>
        
        
        
        
        
        
        
        
        
        <table class="table file-table table-hover ">
            <thead>
                <tr>
                    
                    <th  ></th>
                    <th></th>
                    <th>ext</th>
                    <th>size</th>
                    <th>modified</th>
                    
                </tr>
            </thead>
            <tbody>


                {{#each result_list}}
                    
                    <tr>
                        <th  >
                            <a href="{{only_fold}}">{{{only_fold_html}}}</a>
                        </th>
                        <td>
                            <a href="{{full_path}}">{{{filename_html}}}</a>
                        </td>
                        <td>{{ext}}</td>
                        <td>{{SizeHuman}}</td>
                        <td>{{modified}}</td>
                        
                    </tr>

                {{/each}}

            </tbody>
        </table>
        
        
        
    </div>

</div>

